<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ByteReflections</title>
    <!-- favicon -->
    @*<link rel=icon href="/img/favicon.png" sizes="20x20" type="image/png">*@
    <!-- animate -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- icons -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- animated slider -->
    <link rel="stylesheet" href="/css/animated-slider.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!--Codingeek -->
    <link rel="stylesheet" href="/codingeek-js/codingeek.css">
</head>
<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- search Popup -->
    <div class="body-overlay" id="body-overlay"></div>
    @*<div class="search-popup" id="search-popup">
        <form action="https://codingeek.net/html/riyaqas/index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>*@
    <!-- //. search Popup -->
    <!-- navbar area start -->
    <nav class="navbar navbar-area navbar-expand-lg nav-style-01">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper mobile-logo">
                    <a href="index.html" class="logo">
                        <img src="/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="nav-right-content">
                    <ul>
                        <li class="search">
                            <i class="ti-search"></i>
                        </li>
                        <li class="cart">
                            <div class="cart-icon"><i class="la la-shopping-cart"></i></div>
                            <div class="widget_shopping_cart_content">
                                <ul>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="/img/checkout/7.png" alt="img">
                                            </div>
                                            <div class="media-body">
                                                <a class="title" href="#">Smart watch red color</a>
                                                <p>Quantity: 1</p>
                                                <span class="price">$150.00</span>
                                            </div>
                                        </div>
                                        <a class="remove-product" href="#"><span class="ti-close"></span></a>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="/img/checkout/8.png" alt="img">
                                            </div>
                                            <div class="media-body">
                                                <a class="title" href="#">Smart watch red color</a>
                                                <p>Quantity: 1</p>
                                                <span class="price">$150.00</span>
                                            </div>
                                        </div>
                                        <a class="remove-product" href="#"><span class="ti-close"></span></a>
                                    </li>
                                </ul>
                                <p class="total">
                                    <strong>Subtotal:</strong>
                                    <span class="amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>129.00
                                    </span>
                                </p>
                                <p class="buttons">
                                    <a href="checkout.html" class="button">View Card & Check out</a>
                                </p>
                            </div>
                        </li>
                        <li class="notification">
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span class="notification-count">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Riyaqas_main_menu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="Riyaqas_main_menu">
                <div class="logo-wrapper desktop-logo">
                    <a href="index.html" class="logo">
                        <img src="/img/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">About</a>
                        <ul class="sub-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-grid.html">Shop Grid</a></li>
                            <li><a href="shop-details.html">Shop Details</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right-content">
                <ul>
                    <li class="search">
                        <i class="ti-search"></i>
                    </li>
                    <li class="cart">
                        <div class="cart-icon"><i class="la la-shopping-cart"></i></div>
                        <div class="widget_shopping_cart_content">
                            <ul>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="/img/checkout/7.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <a class="title" href="#">Smart watch red color</a>
                                            <p>Quantity: 1</p>
                                            <span class="price">$150.00</span>
                                        </div>
                                    </div>
                                    <a class="remove-product" href="#"><span class="ti-close"></span></a>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="/img/checkout/8.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <a class="title" href="#">Smart watch red color</a>
                                            <p>Quantity: 1</p>
                                            <span class="price">$150.00</span>
                                        </div>
                                    </div>
                                    <a class="remove-product" href="#"><span class="ti-close"></span></a>
                                </li>
                            </ul>
                            <p class="total">
                                <strong>Subtotal:</strong>
                                <span class="amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>129.00
                                </span>
                            </p>
                            <p class="buttons">
                                <a href="checkout.html" class="button">View Card & Check out</a>
                            </p>
                        </div>
                    </li>
                    <li class="notification">
                        <a href="#">
                            <i class="fa fa-heart-o"></i>
                            <span class="notification-count">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar area end -->

    @RenderBody()

    <!-- footer area start -->
    <footer class="footer-area mg-top-120" style="background-image:url(/img/bg/footer.png);">
        <div class="footer-top pd-top-120 padding-bottom-40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-11">
                        <div class="footer-widget widget text-center">
                            <div class="footer_top_widget">
                                <a href="index.html" class="footer-logo">
                                    <img src="/img/logo.png" alt="footer logo">
                                </a>
                                <p>Our support team will get assistance from AI-powered, making it quicker than ever to handle support requests.</p>
                            </div>
                        </div>
                        <div class="footer-widget widget widget_nav_menu text-center">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="pricing.html">Price</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="copyright-inner">
                            <div class="row custom-gutters-16">
                                <div class="col-lg-7">
                                    <div class="copyright-text">
                                        &copy; Riyaqas 2020 All rights reserved, Powered with <a href="https://codingeek.net/" target="_blank"><i class="fa fa-heart"></i>by <span>Codingeek.</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <ul class="social-icon text-right">
                                        <li>
                                            <a class="dribbble" href="#"><i class="fa fa-dribbble  "></i></a>
                                        </li>
                                        <li>
                                            <a class="facebook" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fa fa-facebook  "></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="https://twitter.com/codingeeknet" target="_blank"><i class="fa fa-twitter  "></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="https://www.linkedin.com/company/codingeek/about/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a class="pinterest" href="https://www.instagram.com/codingeeknet/" target="_blank"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
    <!-- jquery -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/js/wow.min.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- slick slider -->
    <script src="/js/slick.js"></script>
    <!-- cssslider slider -->
    <script src="/js/jquery.cssslider.min.js"></script>
    <!-- waypoint -->
    <script src="/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/js/isotope.pkgd.min.js"></script>
    <!-- world map -->
    <script src="/js/worldmap-libs.js"></script>
    <script src="/js/worldmap-topojson.js"></script>
    <script src="/js/mediaelement.min.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
    <!-- codingeek -->
    <script src="codingeek-link.js"></script>
    <script src="/codingeek-js/codingeek.js"></script>
</body>
</html>
